
.list {
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}

.reloadBtn {
  background-color: #f26c23;
  color: white;
  font-size: 16px;
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid white;
  margin-top: 15px;
  margin-left: 4%;
  cursor: pointer;
}

.slick-arrow {
  color: white;
}

.slick-prev {
  z-index: 100;
  left: 20px !important;
  
}

.slick-next {
  z-index: 100;
  right: 20px !important;
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}